<H1>{{titulo}}</H1>

<p>zapatillas works!</p>

<ul>
    <!-- EN EL SIGUIENTE UTILIZAMOS EL FOR EN ANGULAR CREANDO UNA VARIABLE EN CADA ITERACCION DEL CLASE U OBJETO objetozapatilla -->
    <!-- LOS NG CONDICIONALES SON SENSIBLES A MAYUSCULAS -->
    <li *ngFor="let zapatos of zapatillas">
        {{zapatos.nombre}}
    </li>
    <li>ADIDAS</li>
</ul>
    <!-- MARCAS -->
<H3>añadir marca</H3>
<!-- utilizamos la directiva ngModel con el fin de cambiar poporpiedades de manera reactivca -->
<p>
<input type="text" [(ngModel)]="mi_marca"/>
<button (click)="getmarca()">mostrar marca</button>
<button (click)="addmarca()">añadir marca</button>
</p>

<h3>TODAS LAS MARCAS</h3>
<ul>
    <li *ngFor="let marcauni of marcas; let indice=index">{{indice+" "+marcauni}}</li>
</ul>


<p>{{mi_marca}}</p>
<!-- <p>`${mimarca}`</p> -->


